<div>
    <h2 id="page-heading">
        <span>Frameworks</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-framework" [routerLink]="['/framework/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Framework
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="frameworks?.length === 0">
        <span>No frameworks found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="frameworks && frameworks.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="nameFramework"><span>Name Framework</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="version"><span>Version</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let framework of frameworks ;trackBy: trackId">
                    <td><a [routerLink]="['/framework', framework.id, 'view']">{{ framework.id }}</a></td>
                    <td>{{ framework.nameFramework }}</td>
                    <td>{{ framework.version }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/framework', framework.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/framework', framework.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(framework)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
