<div class="row">
    <div class="col-md-3">
        <span class="hipster img-fluid rounded"></span>
    </div>

    <div class="col-md-9">

        <div [ngSwitch]="isAuthenticated()">
            <div *ngSwitchCase="false">
                <h1 class="display-4">Welcome to Wikicodia!</h1>
            </div>
            <div *ngSwitchCase="true">
                <h1 class="display-4">Welcome to Wikicodia, {{ account.login }}!</h1>
            </div>
        </div>
        

        <p class="lead">A plateform for junior developers to learn and share tips</p>

        <div [ngSwitch]="isAuthenticated()">

            <div class="alert alert-success" *ngSwitchCase="false">
                <span>Already a member?</span>&nbsp;
                <a class="alert-link" (click)="login()" id="login">Sign in to your account</a>
            </div>

            <div class="alert alert-warning" *ngSwitchCase="false">
                <span>Don't have an account yet?</span>&nbsp;
                <a class="alert-link" routerLink="account/register">Sign up here</a>
            </div>

            <div *ngSwitchCase="true">
                <div class="alert alert-success">
                    <a routerLink="article">Browse the library</a></li>
                </div>
                <div class="alert alert-success">
                    <a routerLink="article/new">Write an article</a>
                </div> 
            </div>           
        </div>


    </div>
</div>
